<div class="container">
    <div class="card">
        <h1>Formulario</h1>

        <div>
            <label for="nombre">Nombre: </label> <br />
            <input type="text" id="nombre" placeholder="Nombre" [(ngModel)]="cuadroNombre" />
            <br />
        </div>
        <div>
            <label for="apellido">Apellido: </label> <br />
            <input type="text" id="apellido" placeholder="Apellido" [(ngModel)]="cuadroApellido" />
            <br />
        </div>
        <div>
            <label for="cargo">Cargo: </label> <br />
            <input type="text" id="cargo" placeholder="Cargo" [(ngModel)]="cuadroCargo" />
            <br />
        </div>
        <div>
            <label for="salario">Salario: </label> <br />
            <input type="text" id="salario" placeholder="Salario" [(ngModel)]="cuadroSalario" />
            <br />
        </div>
        <br />
        <br />

        <div>
            <button type="submit" class="btn btn-dark" (click)="registrar()">
        Registrar empleado
      </button>
        </div>
    </div>
</div>

<app-empleado-hijo [empleados]="empleados" [title]="title" eliminar()></app-empleado-hijo>