<div class="container">
    <div class="card">
        <h4>Formulario</h4>

        <form [formGroup]="formInfo" (submit)="registrar()">

            <!--<label for="name">Title projects</label>
            <input type="text" class="form-control" placeholder='Tekneo' formControlName="name" #name> -->


            <div class="form-group">
                <label for="nombre">Nombre: </label> <br/>
                <input type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" #nombre />
                <br/></div>

            <div class="form-group">
                <label for="apellido">Apellido: </label> <br/>
                <input type="text" id="apellido" class="form-control" placeholder="Apellido" formControlName="apellido" #apellido />
                <br/></div>

            <div class="form-group">
                <label for="cargo">Cargo: </label> <br/>
                <input type="text" id="cargo" class="form-control" placeholder="Cargo" formControlName="cargo" #cargo/>
                <br/></div>

            <div class="form-group">
                <label for="salario">Salario: </label> <br/>
                <input type="text" id="salario" class="form-control" placeholder="Salario" formControlName="salario" #salario/>
                <br />
            </div> <br/><br/>

            <div>
                <button type="submit" class="btn btn-dark">Registrar empleado</button>
            </div>

        </form>



    </div>

    <app-empleado-hijo [empleados]="empleados"></app-empleado-hijo>

</div>